<div class="crmMailing-schedule-outer" ng-controller="CrmMailingRadioCtrl" >
  <div class="crmMailing-schedule-inner">
    <div>
      <input ng-model="scheduleMode" type="radio" name="send" value="now" id="schedule-send-now"/>
      <label for="schedule-send-now">{{ts('Send immediately')}}</label>
    </div>
    <div>
      <input ng-model="scheduleMode" type="radio" name="send" value="at" id="schedule-send-at"/>
      <label for="schedule-send-at">{{ts('Send at:')}}</label>
      <input crm-ui-datepicker ng-model="mailing.scheduled_date" ng-required="scheduleMode == 'at'" />
    </div>
  </div>
</div>
